# Identify:

Please fill-in your ID in the following cell, **only id numbers, no names!**

In [1]:
id1 = "319134193"

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame([id1])

Uncomment in case two students are doing the assignment together:

In [4]:
#df = pd.DataFrame([id1,id2])

In [5]:
df.to_clipboard(index=False,header=False)

Please fill your names here:

Yaniv Ratzon

---

----

# Write your answers here

add as much lines of code and markdown as you need for each answer

# Q1

In [6]:
 url='https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv'
vacc_df=pd.read_csv(url)

In [7]:
vacc_df['date'] = pd.to_datetime(vacc_df.date)
vacc_df['month'] = pd.DatetimeIndex(vacc_df.date).month
my_month=vacc_df[vacc_df.month ==3].copy() 
my_month

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,month
7,Afghanistan,AFG,2021-03-01,NaN,NaN,NaN,NaN,NaN,1580.0,NaN,NaN,NaN,NaN,41.0,3
8,Afghanistan,AFG,2021-03-02,NaN,NaN,NaN,NaN,NaN,1794.0,NaN,NaN,NaN,NaN,46.0,3
9,Afghanistan,AFG,2021-03-03,NaN,NaN,NaN,NaN,NaN,2008.0,NaN,NaN,NaN,NaN,52.0,3
10,Afghanistan,AFG,2021-03-04,NaN,NaN,NaN,NaN,NaN,2221.0,NaN,NaN,NaN,NaN,57.0,3
11,Afghanistan,AFG,2021-03-05,NaN,NaN,NaN,NaN,NaN,2435.0,NaN,NaN,NaN,NaN,63.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40081,Zimbabwe,ZWE,2021-03-27,73977.0,66012.0,7965.0,NaN,5769.0,4460.0,0.50,0.44,0.05,NaN,300.0,3
40082,Zimbabwe,ZWE,2021-03-28,79685.0,69057.0,10628.0,NaN,5708.0,5201.0,0.54,0.46,0.07,NaN,350.0,3
40083,Zimbabwe,ZWE,2021-03-29,82156.0,70297.0,11859.0,NaN,2471.0,5434.0,0.55,0.47,0.08,NaN,366.0,3
40084,Zimbabwe,ZWE,2021-03-30,86412.0,73490.0,12922.0,NaN,4256.0,5810.0,0.58,0.49,0.09,NaN,391.0,3
40085,Zimbabwe,ZWE,2021-03-31,92426.0,77541.0,14885.0,NaN,6014.0,5712.0,0.62,0.52,0.10,NaN,384.0,3

In [8]:
len(my_month)

5316

 # Q2

In [9]:
my_month[['daily_vaccinations','people_vaccinated_per_hundred']].isnull().sum()

daily_vaccinations                 51
people_vaccinated_per_hundred    2399
dtype: int64

In [10]:
my_month['daily_vaccinations'].fillna(0, inplace=True)

החלטתי לשנות את ה daily_vaccinations לאפס מכיוון שניתן לראות שהפעמים שיש ערך חסר זה יחסית קצת לכל הפעמים ולכן כנראה שזה ימים מיוחדים שלא חיסנו בהם

In [11]:
my_month[['daily_vaccinations','people_vaccinated_per_hundred']].isnull().sum()

daily_vaccinations                  0
people_vaccinated_per_hundred    2399
dtype: int64

ניתן לראות שיש המון ערכים חסרים ולכן בשלב ראשון נמלא את כל הערכים החסרים של המדינות לפי הערך האחרון של כל מדינה

In [12]:
last_value = my_month.groupby('location')[['people_vaccinated_per_hundred']].apply(lambda x: x.fillna(method='bfill'))
my_month['people_vaccinated_per_hundred'] = last_value['people_vaccinated_per_hundred']

In [13]:
my_month[['people_vaccinated_per_hundred']].isnull().sum()

people_vaccinated_per_hundred    788
dtype: int64

ניתן לראות שעדיין חסרים הרבה ערכים (יכול להיות מכיוון שהערך האחרון הוא none) 
ולכן נעשה את אותו הדבר רק עם הערך הראשון של כל מדינה

In [14]:
first_value = my_month.groupby('location')[['people_vaccinated_per_hundred']].apply(lambda x: x.fillna(method='ffill'))
my_month['people_vaccinated_per_hundred']=first_value['people_vaccinated_per_hundred']

In [15]:
my_month[['people_vaccinated_per_hundred']].isnull().sum()

people_vaccinated_per_hundred    279
dtype: int64

לאחר שעשינו את זה ניתן לראות שנשארו עוד ערכים בודדים בעלי חוסר בערך  (שככל הנראה אין להם בכלל ערכים בכל המדינה) ולכן נמלא אותם באפס

In [16]:
my_month.fillna(0, inplace=True)

In [17]:
my_month[['people_vaccinated_per_hundred']].isnull().sum()

people_vaccinated_per_hundred    0
dtype: int64

# Q3

In [18]:
my_month = my_month[~my_month['iso_code'].str.contains('OWID')].copy()

In [19]:
max_vacc= my_month['total_vaccinations'].max()
max_country=my_month.loc[my_month.total_vaccinations == max_vacc]
max_country[['location','date']]

            location       date
38169  United States 2021-03-31

# Q4

In [20]:
my_month['daily_vaccinations'].mean()

66398.18495297806

In [21]:
my_month['daily_vaccinations'].median()

4621.0

הממוצע יותר גדול מכיוון שיש מדינות שמחסנות המון אנשים כל יום (בפער גדול מאוד מהשאר) ולכן זה מעלה מאוד את הממוצע. לעומת החציון שמביא את המספר האמצעי של החיסונים

# Q5

In [22]:
my_month['date'] = pd.to_datetime(my_month.date)
my_month['day'] = pd.DatetimeIndex(my_month.date).day

In [23]:
mean_vacc=my_month.loc[(my_month.location == 'Israel') & (my_month.day<8)]

In [24]:
mean_vacc['people_vaccinated_per_hundred'].mean()

56.21999999999999

# Q6

In [25]:
max_people= my_month.groupby('location')[['location','month','people_vaccinated_per_hundred']].max()
top_3= max_people.sort_values('people_vaccinated_per_hundred',ascending=False)
top_3.head(3)

                  location  month  people_vaccinated_per_hundred
location
Gibraltar        Gibraltar      3                          94.21
Saint Helena  Saint Helena      3                          71.55
Seychelles      Seychelles      3                          64.76

# Q7

---
# GOOD LUCK !!!!
---

In [ ]:
# do not type below this line